/* general */
:root {
    --col-nav: rgb(50,50,50);
    --col-head: white;
    --col-main: lightgrey;
    --col-nav-text: white;
    --nav-width-lg: 250px;
    --nav-width-sm: 70px;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    font-family: 'Kanit', sans-serif;
}
button{
    background-color:var(--col-nav);
    color:var(--col-nav-text);
    padding:.5rem 1rem;
    height:fit-content;
    width:5rem;
    cursor:pointer;
}
button:hover{
    opacity:.85;
}
input, button{
    border-radius:100vmin;
    border:none;
}
input{
    background-color:var(--col-main);
    width:80%;
}
svg{
    cursor:pointer;
    border-radius:3px;
}
svg:hover{
    opacity:.5;
}
#nav-pop svg:hover{
    opacity:1;
}
h1{
    font-size:1.25em;
    font-weight:500;
}

/* nav */
#nav-pop {
    position: absolute;
    overflow: hidden;
    background-color: var(--col-nav);
    transition: width .5s;
    color: var(--col-nav-text);
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.nav-size {
    height: 100%;
    width: var(--nav-width-sm);
    flex-shrink: 0;
}

#nav-pop:hover {
    width: var(--nav-width-lg);

}

#nav-pop>ul {
    display: flex;
    flex-direction: column;
}

#nav-pop>ul>li {
    display: flex;
    gap: 25px;
    align-items: center;
    cursor: pointer;
    padding: 5px 0;
}
#nav-pop>ul>li:hover{
    background-color:rgba(255,255,255,.2);
}

#nav-pop>ul>li>* {
    flex-shrink: 0;
}

.nav-sm-container {
    width: var(--nav-width-sm);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-sm-container+div {
    font-size: 1rem;
}

.nav-symbol {
    display: block;
    fill: var(--col-nav-text);
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    fill: var(--col-nav-text);
    width: calc(var(--nav-width-sm) - 20px);
    height: calc(var(--nav-width-sm) - 20px);
    padding-left:10px;
}

#logo,
#logo+div {
    padding-top: 10px;
}

/* main */
#main-container {
    width: 100%;
    background-color: var(--col-main);
    display: grid;
    grid-template-rows: 150px calc(100vh - 150px);
}
#main-container>*{
    padding:20px;
}
.symbol-default{
    fill:'black';
    width:1.25rem;
    height:1.25rem;
}
.img-profile-sm{
    fill:black;
    width:2.5rem;
    height:2.5rem;
}
.img-profile-lg{
    fill:black;
    width:3.5rem;
    height:3.5rem;
}
/* header */
#header {
    display: grid;
    grid-template: 1fr 2fr / 2fr 1fr;
    background-color:var(--col-head);
}
#h_search{
    display:flex;
    gap:20px;
    align-items:center;
}
#h_user{
    display:flex;
    flex-direction:row;
    gap:20px;
    margin-left:auto;
    justify-content: center;
    align-items:center;
}
#h_user-greeting{
    display:flex;
    align-items:center;
    gap:20px;
}
.greeting{
    font-size:1rem;
    display:flex;
    flex-direction:column-reverse;
}
.username{
    font-size:1.5rem;
}
#h_nav{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:20px;
    margin:auto 0 auto auto;
}


/* content */
#content {
    background-color: grey;
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
    gap:20px;
}
#content>div{
    display:grid;
    grid-template: 1rem 1fr / 1fr;
    gap: 5px;
}
.card{
    background-color:var(--col-head);
    border-radius:10px;
    width:100%;
    height:100%;
    box-sizing:border-box;
    box-shadow: 2px 2px 3px rgba(0,0,0,.3);
    overflow:hidden;
}
#cards-container {
    grid-area: 2 span / 1 span;
}
#cards-container>div{
    padding-right:5px;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* grid-template-rows: repeat(auto-fit, minmax(150px, 1fr)); */
    grid-auto-rows:min-content;
    gap: 20px;
    overflow: auto;
    -ms-overflow-style:none;
    scrollbar-width:none;
}
#cards-container>div::-webkit-scrollbar{
    display:none;
}
.article{
    width:90%;
    height:80%;
    border-left: 6px solid var(--col-nav);
    padding:20px;
    display:grid;
    grid-template-rows: 80% 20%;
}
.article > div > p{
    padding-right:20px;
}
.article-nav{
    margin-left:auto;
    margin-top:auto;
    padding-right:20px;
    display:flex;
    gap:10px;
}
#news-container,
#trends-container {
    grid-column-start: 2;
}
